<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrc.mapper.StudentMapper">
  <resultMap id="student" type="com.lrc.pojo.Student">
    <result column="id" property="id"/>
    <result column="name" property="name"/>
    <association property="teacher" javaType="com.lrc.pojo.Teacher">
      <result column="tid" property="id"/>
      <result column="tname" property="name"/>
    </association>
  </resultMap>
  <select id="getAllStudent" resultMap="student">
    select s.*, t.id as tid,t.name as tname
    from student as s
           inner join teacher as t on s.tid = t.id;
  </select>
<!--  <select id="getTeacher" resultType="com.lrc.pojo.Teacher">-->
<!--    select *-->
<!--    from teacher-->
<!--    where id = #{id}-->
<!--  </select>-->
</mapper>
